{% extends 'geekshop/base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static '/mainapp/style.css' %}">
{% endblock %}

{% block content %}
	{% include 'geekshop/includes/inc_main_menu.html' %}
      <div class="details">
         <div class="links clearfix">
                <ul class="links-menu">
					<li>
						<a href="{% url 'products:category' 0 %}"
						   class="{% if request.resolver_match.kwargs.pk == '0' %}
									active
								  {% endif %}">
							все
						</a>

					</li>
					{% for link in categories %}
						<li>
							<a href="{% url 'products:category' link.pk %}"
							   class="{% if request.resolver_match.kwargs.pk == link.pk %}
										active
									  {% endif %}">
								{{ link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
		 </div>
        <div class="row my-5">
            <div class="col-6">
                <div class="slider-product text-center">
                  <img src="/media/{{ product.image }}" class="w-50">
                </div>
                <div class="slider-control ml-2 my-3 d-flex text-center">
                  <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt="" class="w-25"></a>
                  </div>
                  <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt="" class="w-25"></a>
                  </div>
                  <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt="" class="w-25"></a>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <h3 class="big-bold">{{ product.name }}</h3>

                <p class="price">{{ product.price }} <span>руб</span></p>
                <a href="{% url 'basket:add' product.pk %}" class="red-button">
                  заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                  {{ product.description }}
                </div>
            </div>
        </div>
    </div>
         <div class="related">
            <div class="title clearfix">
               <h2>Похожие продукты</h2>
               <a class="explore" href="#">показать все <img src="/static/img/arrow.png" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for same_prod in same_products%}
               <div class="block">
                  <a href="#"><img src="/media/{{ same_prod.image }}" alt="">
                     <div class="text">
                        <img src="/static/img/icon-hover.png" alt="img">
                      <h4>{{ same_prod.name }}</h4>
                      <p>{{ same_prod.description }} </p>
                     </div>
                  </a>
               </div>
            {% endfor %}

            </div>
         </div>
{% endblock %}


